<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/PanelAdmin/css/sidebar.css" />
</head>
<body>
    <header class="header">
      <div class="header-content">
        <h1 class="logo">AdminPanel</h1>
        <div class="user-info">
          <span class="user-name">William Cortez</span>
          <div class="user-avatar">
            <i class="fa-regular fa-user" style="color: rgb(255, 255, 255)"></i
            >
          </div>
        </div>
      </div>
    </header>

    <div class="main-container">
      <aside class="sidebar">
        <nav class="sibedar-nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#dashboard" class="nav-link active">
                <span class="nav-icon"></span>
                <span class="nav-text"
                  >Dashboard
                  <i
                    class="fa-solid fa-chart-column"
                    style="color: rgb(255, 255, 255)"
                  ></i
                ></span>
              </a>
            </li>

            <li class="nav-item">
              <a href="/PanelAdmin/pages/users.html" class="nav-link active">
                <span class="nav-icon"></span>
                <span class="nav-text"
                  >Usuarios
                  <i
                    class="fa-solid fa-users"
                    style="color: rgb(255, 255, 255)"
                  ></i
                ></span>
              </a>
            </li>
          </ul>
          <li class="nav-item">
            <a href="/PanelAdmin/pages/products.html" class="nav-link active">
              <span class="nav-icon"></span>
              <span class="nav-text"
                >productos
                <i class="fa-solid fa-box" style="color: rgb(255, 255, 255)"></i
              ></span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/PanelAdmin/pages/sales.html" class="nav-link active">
              <span class="nav-icon"
                ><i
                  class="fa-solid fa-cart-shopping"
                  style="color: rgb(238, 238, 238)"
                ></i
              ></span>
              <span class="nav-text">ventas </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/PanelAdmin/pages/settings.html" class="nav-link active">
              <span class="nav-icon"
                ><i
                  class="fa-solid fa-cart-shopping"
                  style="color: rgb(238, 238, 238)"
                ></i
              ></span>
              <span class="nav-text">configuracion </span>
            </a>
          </li>
        </nav>
      </aside>
</body>
</html>
